
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php
ErrorDocument 404 /
ErrorDocument 403 /
ErrorDocument 500 /

DirectoryIndex index.php
#php_flag display_startup_errors off
#php_flag display_errors off
#php_flag html_errors off
# MIME тип по умолчанию
php_value default_mimetype text/html
# Магические кавычки
php_flag magic_quotes_gpc Off
php_flag magic_quotes_runtime Off
php_flag magic_quotes_sybase Off
# Не создаются переменные argc и argv
php_flag register_argc_argv Off
# Сессия
php_value session.auto_start 1
Options -Indexes
AddDefaultCharset UTF-8